body {
    background: url(images/font-dark.png) repeat;
    background-color: #5c565f;
}
.wrapper {
    padding: 20px 30px 40px 30px;
    min-height: 550px;
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.5);
}
.dark-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-bottom: 40px;
    min-height: 600px;
}
.light-wrapper {
    background-color: rgba(248, 228, 221, 0.9);
    width: 98%;
    margin: 0 1%;
    min-height: 500px;
}
.navbar-inverse {
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.5);
}
.sign-in {
    background-color: rgba(255, 255, 255, 0.35);
    margin: 5% auto;
    min-height: 400px;
    width: 450px;
}

/* miscellany */
.line {
    border: none;
    color: #5f3f48;
    background-color: #5f3f48;
    height: 1px;
    margin: 15px 0 25px 0;
}
.time-btn {
    width: 100px;
    color: gray;
}
.dropdown-time {
    min-width: 0;
    width: 50px;
    height: 130px;
    overflow-y:auto;
    text-align:center;
}
.selected-date, .schedule-small, .calendar, h4.subject {
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.8);
}
.selected-date {
    margin-right: 30px;
}

/* subject dropdown */
.subj-dropdown {
    background-color: rgba(8, 8, 8, 0.9);
    padding-bottom: 0;
}
.subj-dropdown .splash {
    margin-bottom: 10px;
}
.subj-dropdown a span {
    color: white;
}
.subj-dropdown a {
    display: inline-block !important;
}
.subj-dropdown i.fa-times {
    float: right;
    text-align: center;
    color: transparent;
    font-size: 10pt;
    margin-top: 6px;
    margin-right: 11px;
}
.subj-dropdown li {
    min-height: 30px;    
    border-right: 1px solid rgb(8, 8, 8);    
    border-left: 1px solid rgb(8, 8, 8); 
}
.subj-dropdown li:hover i.fa-times {
    color: #6e6e6e;   
}
.subj-dropdown li:hover i.fa-times:hover {
    color: #802b3a;
    cursor: pointer;
}
.subj-dropdown li:hover a, .subj-dropdown .loading:hover, .subj-dropdown a:hover, .subj-dropdown > li > a:focus {
    background-color: transparent;
}
.subj-dropdown li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.add-subj input, .add-subj button {
    background-color: rgb(57, 57, 57);
    border-color: rgb(8, 8, 8);
    color: white;
}
.add-subj input {
    border-left: none;
}
.add-subj button {
    border-right: none;
}
.add-subj button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgb(8, 8, 8);
    border-left: none;
}

/* schedule */
.schedule {
    width: 80%;
    margin: 20px 10%;
}
.schedule .row {
    text-align: center;
}
.schedule .table-heading {
    border-bottom: 2px solid rgba(14, 89, 118, 0.5);
    min-height: 30px;
}
.schedule .schedule-table {
    min-height: 250px;
}
.schedule .schedule-row {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    min-height: 60px;
}
.schedule .schedule-row .col-xs-1 {
    padding-top: 20px;
}
.schedule .schedule-row .col-xs-2 {
    min-height: 60px;
    padding: 10px;
}
.schedule .lecture {
    background-color: #998b8e;
    color: white;
    margin: 2px;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.day-schedule .lecture-time input {
    background-color: #f6f3f1;
}
.add-time {
    border-top: 2px solid rgba(14, 89, 118, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    color: #998b91;
    padding: 10px;
}
.add-time .btn{
    background-color: #ede0db;
}
.add-time .btn:hover{
    background-color: #fef9f8;
}
.add-time .clock {
    font-size: 14pt;
}
.add-time .clock {
    padding-top: 5px;
}
.add-time .add-btn {
    margin-top: 7px;
    cursor: pointer;
    font-weight: bold;
}
.add-time .add-btn:hover {
    color: #28435b;
}
.lecture-room {
    color: #a3bac4;
}

/* panels */
.panel-heading {
    padding: 12px 20px !important;
    background-color: rgb(248, 243, 226) !important;
    -webkit-box-shadow: 3px -3px 17px -4px rgba(0,0,0,0.44);
    -moz-box-shadow: 3px -3px 17px -4px rgba(0,0,0,0.44);
    box-shadow: 3px -3px 17px -4px rgba(0,0,0,0.44);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.panel-body {
    padding-top: 0;
    padding-bottom: 0;
}

/* modals */
.modal-content {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(29, 30, 31, 0.9);
    border-color: rgba(245, 245, 245, 0.15);
    color: rgba(255, 255, 255, 0.8);
    width: 200px;
}
.modal-header {
    display: none;
    color: rgba(255, 255, 255, 0.6);
}
.modal-body {
    margin: 20px;
    margin-top: 30px;
    font-size: 18px;
}
.modal-footer {
    border-top-color: rgba(255, 255, 255, 0.4);
}
.modal-light.modal-content {
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    right top,
	    color-stop(0, #EBDFD1),
	    color-stop(1, #D4C1C1)
    );
    background-image: -o-linear-gradient(right top, #EBDFD1 0%, #D4C1C1 100%);
    background-image: -moz-linear-gradient(right top, #EBDFD1 0%, #D4C1C1 100%);
    background-image: -webkit-linear-gradient(right top, #EBDFD1 0%, #D4C1C1 100%);
    background-image: -ms-linear-gradient(right top, #EBDFD1 0%, #D4C1C1 100%);
    background-image: linear-gradient(to right top, #EBDFD1 0%, #D4C1C1 100%);       
    color: #5f565a;
}
.modal-light .modal-header {
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    color: rgba(0,0,0,0.6);
}
.edit-task, .edit-event {
    width: 500px;
}
.new-notes {
    width: 350px;
}
.day-schedule {
    width: 600px;
}
.edit-task .modal-body, .edit-event .modal-body, .new-notes .modal-body, .day-schedule .modal-body {
    margin: 0;
}
.day-schedule .modal-body {
    min-height: 200px;
}

/* 404 modal */
.not-found {
    height: 250px;
    width: auto;
    background-image: none;
    background-color: rgba(151, 42, 61, 0.6);
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
}
.not-found .error, .not-found .msg {    
    display: inline-block;
    height: 100%;
}
.not-found .msg {
    border-left: 3px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 30, 38, 0.7);
    font-size: 1.3em;
    text-align: center;
    padding: 70px 30px 0 30px;
    width: 60%;
}
.not-found .error {
    font-size: 4em;
    text-align: left;
    padding-left: 15px;
    width: 30%;
}

/* links and buttons */
.danger, .success {
    color: lightgray;
    border-color: rgba(255, 255, 255, 0.5);
}
.danger {
    background-color: #a21a1a;
}
.success {
    background-color: #117562;
}
.sign-in .success {
    font-weight: bold;
}
.blue-btn {
    background-color: rgba(14, 89, 118, 0.3);
    color: gray;
    border-color: gray;
}
.blue-btn:hover {
    background-color: rgba(55, 97, 136, 0.7);
    color: white;
}
.danger:hover {
    background-color: #a22f2f;
    color: white;
}
.success:hover {
    background-color: #378879;
    color: white;
}
.button, .edit, .delete, .clear {
    color: #463539;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(201,201,201,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(201,201,201,1);
    box-shadow: 0px 0px 1px 1px rgba(201,201,201,1);
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}
.day-schedule .clear, .schedule .edit {
    color: #adadad;
}
.remove {
    color: #b6b6b6;
    cursor: pointer;
}
.save {
    margin-top: 25px;
    margin-right: 20px;
    color: #adadad;
    font-size: 16pt;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 1);
}
.save:hover {
    color: whitesmoke;
    cursor: pointer;
}
.button:hover, .edit:hover, .delete:hover, .clear:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.edit:hover {
    color: #28435b;
}
.delete:hover, .remove:hover {
    color: #9b2e41;
}
.clear:hover {
    color: gray;
}
.editable:hover {
    cursor: url(images/fa-pencil.png), auto;
}
.deck-link {
    color: #998b8e;
    font-size: 26pt;
    cursor: pointer;
    margin: 20px;
}
.deck-link:hover {
    color: #28435b;
}
.link:hover {
    text-decoration: none;
}
.log-out {
    color: gray;
    margin-top: 15px;
    margin-right: 10px;
}
.log-out .fa-sign-out {
    margin-left: 10px;
    font-size: 14pt;
}
.log-out .fa-sign-out:hover {
    color: whitesmoke;
    cursor: pointer;
}

/* headers */
.tasks h3, .tasks h4, .events h3, .events h4, .schedule h3, .notes-list h3, .flashcards h3, .deck h3 {
    color: #023b4b;
}
h4.subject {
    margin: 5px 0 15px 0;
    padding-left: 30px;
}

/* tables */
table {
    table-layout: fixed;
}
table td{
    overflow: hidden;
}
.unbordered td, .unbordered th {
    border: none !important;
}
.calendar th, .deck th, .calendar td, .schedule-small td, .deck td{
    border-width: 2px !important;
    border-color: #5f565a !important;
}
.calendar th, .deck th {
    border-width: 3px !important;
}
.deck th, .deck td {
    border-color: rgba(56, 51, 53, 0.4) !important;
}
.schedule-small th{
    border-top: none !important;
    border-bottom: 3px solid #5f565a !important;
}

/* calendar */
.calendar td div {
    height: 30px;
    width: 30px;
    padding-top: 3px;
    border-radius: 2px;
}
.calendar .important {
    background-color: rgba(155, 46, 65, 0.7);
    font-weight: bold;
}
.calendar td div:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}
.calendar td div.empty:hover {
    background-color: transparent;
    cursor: default;
}
.calendar .selected {
    background-color: gray;
    font-weight: bold;
}
.calendar .today {
    background-color: rgba(14, 89, 118, 0.5);
}
.calendar .important.selected, .calendar .important.today {
    border: 2px solid rgba(155, 46, 65, 0.8);
}

/* side-nav */
.side-nav li {
    background-color: rgba(253, 174, 174, 0.15);
    margin-bottom: 10px;
    padding-left: 15px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
}
.side-nav a {
    background-color: rgba(255, 255, 255, 0.15);
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 1);
    color: white;
}
.side-nav > li:hover, .side-nav > li:hover a, .side-nav > li > a:focus, .side-nav .active, .side-nav .active a {
    background-color: rgba(159, 85, 98, 0.30);
}

/* notes */
.heading {
    text-align: center;
    margin: 0;
    background-color: #333;
    border: 1px solid #0d0d0d;
    border-bottom: none;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset;
}
.notes h3 {
    color: #adadad;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 1);    
}
#cke_editor {
    border: none;    
}
.cke_top.cke_reset_all{
    border-top: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: 10px !important;
}
.cke_contents.cke_reset {
    min-height: 550px !important;
}

/* cards */
#newCard {
    display: none;
}
.card {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 2px solid rgba(14, 89, 118, 0.4);
    min-height: 200px;
    margin: 20px 0;
    padding: 30px 20px;
}
.card.card-front {
    font-size: 16pt;
    color: #5e7e8b;
}
.card.card-back {
    font-size: 14pt;
}
.deck textarea {
    background-color: rgba(255, 255, 255, 0.5);
}
textarea { 
    resize: vertical; 
}
.hard {
    color: #a21a1a;
}
.easy {
    color: #117562;
}

/* splash */
.splash {
    color: whitesmoke;
    text-align: center;
}
.splash.vertical-middle {
    margin: 10% 0 0 0;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 1);
}
.splash .message {
    font-size: 2em;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 1);
}
.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 3em;
    margin-top: 20px;
}
.splash.small {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.4);
}