<div class="wrapper light-wrapper flashcards">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Flashcards</h3>
            <br />

            <div data-bind="visible: flashcards().length">
                Cards to learn: <span class="badge" data-bind="text: flashcards().length"></span>
                <div data-bind="visible: !currentCard()">
                    <br />
                    <button class="btn edit" data-bind="click: showNextCard">Study!</button>
                </div>
            </div>

            <div data-bind="visible: !flashcards().length">
                No cards for today!
                <div>
                    <br />
                    <a data-bind="attr: { href: '#subjects/' + subject() + '/deck' }">
                        <span class="btn edit">Add cards</span>
                    </a>
                </div>
            </div>
            <br />

            <div data-bind="with: currentCard">
                <div data-bind="visible: !$root.isAnswerVisible()">
                    <div class="card card-front" data-bind="text: front"></div>
                    <button class="btn edit" data-bind="click: function () { $root.isAnswerVisible(true); }">Show answer</button>
                </div>
                <div data-bind="visible: $root.isAnswerVisible">
                    <div class="card card-back" data-bind="text: back"></div>
                    <span class="hard">Hard</span>
                    <span data-bind="foreach: [1, 2]">
                        <button class="btn button hard" data-bind="text: $data, click: $root.reviewCard"></button>
                    </span>
                    <span data-bind="foreach: [3, 4, 5]">
                        <button class="btn button easy" data-bind="text: $data, click: $root.reviewCard"></button>
                    </span>
                    <span class="easy">Easy</span>
                </div>
            </div>
        </div>

        <div class="col-md-2 text-center">
            <a data-bind="attr: { href: '#subjects/' + subject() + '/deck' }">
                <i class="fa fa-language deck-link" data-bind="popover: 'View deck'"></i>
            </a>
        </div>
    </div>
</div>
