<div class="wrapper light-wrapper">
    <div class="notes-list">
        <h3 class="text-center">Notes</h3>

        <div class="splash" data-bind="visible: isBusy"><i class="fa fa-spinner fa-spin"></i></div>

        <div data-bind="visible: !isBusy()">
            <br />
            <!--ko foreach: notesList -->
            <div class="row">
                <div class="col-md-7">
                    <strong data-bind="text: $index() + 1 + '.  ' + title"></strong>
                </div>
                <div class="col-md-3 text-right">
                    <span>updated at: </span>
                    <p data-bind="text: moment(updatedAt).format('HH:mm, MMM DD, YYYY')"></p>
                </div>
                <div class="col-md-2 text-right">
                    <a href="#" class="link" data-bind="attr: { href: '#subjects/' + $root.subject() + '/notes/' + objectId }">
                        <span class="btn edit"><i class="fa fa-file-text"  data-bind="popover: 'Open notes'"></i></span>
                    </a>
                    <button class="btn delete" data-bind="click: $root.removeNotes, popover: 'Remove'"><i class="fa fa-trash-o"></i></button>
                </div>
            </div>
            <hr class="line" />
            <!--/ko-->
            <div class="text-center" data-bind="visible: !notesList().length">
                <h4>There are no notes.</h4>
                <button class="btn edit" data-bind="click: createNewNotes">+ Create new notes</button>
            </div>
            <div class="text-right" data-bind="visible: notesList().length">
                <button class="btn edit" data-bind="click: createNewNotes">+ Create new notes</button>
            </div>
        </div>
    </div>
</div>
