<div class="modal-light modal-content day-schedule">

    <div class="modal-header">
        <button type="button" class="close" data-bind="click: close"><span>&times;</span></button>
        <h3>Day schedule</h3>
        <h4 data-bind="text: date.format('MM/DD/YYYY')"></h4>
    </div>

    <div class="modal-body">
        <div class="row text-center">
            <div class="col-xs-2 col-xs-offset-1"><span>Time</span></div>
            <div class="col-xs-4"><span>Subject</span></div>
            <div class="col-xs-3"><span>Lecture Room</span></div>
        </div>
        <!--ko foreach: { data: lectureHours, as: 'currentLecture' } -->
        <div class="row lecture-time" data-bind="with: $root.lectures[currentLecture.time]">
            <div class="col-xs-1 text-right">
                <span data-bind="text: $index() + 1 + '.'"></span>
            </div>
            <div class="col-xs-2">
                <div class="btn-group time-btn">
                    <button class="btn btn-default" type="button" data-bind="text: currentLecture.time.substr(0, 2)" disabled></button>
                    <button class="btn btn-default" type="button" data-bind="text: currentLecture.time.substr(3, 2)" disabled></button>
                </div>
            </div>
            <div class="col-xs-4">
                <input class="form-control" data-bind="value: subject" />
            </div>
            <div class="col-xs-3">
                <input class="form-control" data-bind="value: lectureRoom" />
            </div>
            <div class="col-xs-2 text-left">
                <button class="btn clear" data-bind="click: $root.clear, popover: 'Clear'"><i class="fa fa-eraser"></i></button>
            </div>
        </div>
        <!--/ko-->
    </div>

    <div class="modal-footer">
        <div class="row text-right">
            <div class="col-xs-11">
                <button class="btn success" data-bind="click: save">Save</button>
                <button class="btn danger" data-bind="click: close">Cancel</button>
            </div>
        </div>
    </div>

</div>
