<div class="events">
    <h3 class="text-center">Events</h3>

    <div class="splash" data-bind="visible: isBusy"><i class="fa fa-spinner fa-spin"></i></div>

    <div data-bind="visible: !isBusy()">
        <br />
        <div class="panel-group" id="eventist">
            <!--ko foreach: sortedEvents -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#eventist" data-bind="attr: { href: '#collapse' + objectId() }">
                            <span data-bind="text: name"></span>
                            <span data-bind="visible: important">(!!!)</span>
                        </a>
                        <a href="#" data-bind="ifnot: $root.subject, attr: { href: '#subjects/' + subject() }">
                            <span class="label label-default" data-bind="text: subject"></span>
                        </a>
                        <span class="pull-right">
                            <span data-bind="text: moment(date()).format('HH:mm')"></span>
                            <span data-bind="text: moment(date()).format(' MMM DD, YYYY'), visible: $root.subject"></span>
                        </span>
                    </h4>
                </div>

                <div class="panel-collapse collapse" data-bind="attr: { id: 'collapse' + objectId() }">
                    <table class="table table-bordered">
                        <tr>
                            <th colspan="3">Description</th>
                            <th>Date</th>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="4" data-bind="text: description"></td>
                            <td data-bind="text: date().format('MM/DD/YYYY')"></td>
                        </tr>
                        <tr>
                            <th>Impotant</th>
                        </tr>
                        <tr>
                            <td data-bind="text: important() ? 'yes' : 'no'"></td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <button class="btn edit" data-bind="click: $parent.editEvent, popover: 'Edit'"><i class="fa fa-pencil"></i></button>
                                <button class="btn delete" data-bind="click: $parent.deleteEvent, popover: 'Delete'"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--/ko-->
            <div class="text-center" data-bind="visible: !sortedEvents().length">
                <h4>There are no events.</h4>
                <button class="btn edit" data-bind="click: editEvent">+ Add new event</button>
            </div>
            <div class="text-right" data-bind="visible: sortedEvents().length">
                <br />
                <button class="btn edit" data-bind="click: editEvent">+ Add new event</button>
            </div>
        </div>
    </div>
</div>
