<div class="mywell">
    <h1 class="text-center">Planner</h1>
    <br />
    <div class="row">
        <div class="col-md-5 col-md-offset-1" data-bind="compose: 'calendar.html'"></div>
        <div class="col-md-4 col-md-offset-1 schedule-small">
            <div data-bind="if: lectures().length">
                <div class="text-center"><strong>Schedule</strong></div>
                <table class="table table-stripped">
                    <tr>
                        <th colspan="4"></th>
                    </tr>
                    <!--ko foreach: lectures -->
                    <tr>
                        <td class="text-right" data-bind="text: hours + ':' + minutes"></td>
                        <td colspan="2" data-bind="text: subject"></td>
                        <td data-bind="text: lectureRoom"></td>
                    </tr>
                    <!--/ko-->
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" data-bind="compose: { model: 'viewmodels/tasks', activationData: { date: selectedDate } }"></div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" data-bind="compose: { model: 'viewmodels/events', activationData: { date: selectedDate } }"></div>
    </div>
</div>
