<div class="mywell sign-in">
    <h2>Sign Up</h2>
    <hr />
    <form data-bind="submit: submit">
        <div class="form-group">
            <label for="fullname">Full name</label>
            <input type="text" class="form-control" id="fullname" placeholder="Enter your fullname" data-bind="value: fullname" required>
        </div>
        <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" class="form-control" id="emailInput" placeholder="Enter email" data-bind="value: email" required>
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password" data-bind="value: password" required>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-default success">Sign Up</button>
            <a href="#signin"><span class="btn btn-default danger">Sign In</span></a>
        </div>
    </form>
</div>
