<div class="tasks">
    <h3 class="text-center">Tasks to do</h3>

    <div class="splash" data-bind="visible: isBusy"><i class="fa fa-spinner fa-spin"></i></div>

    <div data-bind="visible: !isBusy()">
        <br />
        <div data-bind="visible: importantTasks().length">
            <h4>IMPORTANT :</h4>
            <br />
        </div>
        <!--ko foreach: importantTasks -->
        <!--ko compose: 'templates/taskInfo.html' -->
        <!--/ko-->
        <!--/ko-->
        <div data-bind="visible: importantTasks().length && unimportantTasks().length">
            <br />
            <h4>OTHER :</h4>
            <br />
        </div>
        <!--ko foreach: unimportantTasks -->
        <!--ko compose: 'templates/taskInfo.html' -->
        <!--/ko-->
        <!--/ko-->
        <div class="text-center" data-bind="visible: !importantTasks().length && !unimportantTasks().length">
            <h4>There are no tasks.</h4>
            <button class="btn edit" data-bind="click: editTask">+ Add new task</button>
        </div>
        <div class="text-right" data-bind="visible: importantTasks().length || unimportantTasks().length">
            <button class="btn edit" data-bind="click: editTask">+ Add new task</button>
        </div>
    </div>
</div>
